In [1]:
from supabase import create_client
import pandas as pd, os
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [3]:

supabase = create_client(os.getenv("SUPABASE_URL"), os.getenv("SUPABASE_KEY"))
data = supabase.table("iris_data").select("*").execute()
df = pd.DataFrame(data.data)
df.head()

,id,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio,is_petal_long
0,1,5.1,3.5,1.4,0.2,setosa,1.457143,7.0,0
1,2,4.9,3.0,1.4,0.2,setosa,1.633333,7.0,0
2,3,4.7,3.2,1.3,0.2,setosa,1.468750,6.5,0
3,4,4.6,3.1,1.5,0.2,setosa,1.483871,7.5,0
4,5,5.0,3.6,1.4,0.2,setosa,1.388889,7.0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             150 non-null    int64
 1   sepal_length   150 non-null    float64
 2   sepal_width    150 non-null    float64
 3   petal_length   150 non-null    float64
 4   petal_width    150 non-null    float64
 5   species        150 non-null    object
 6   sepal_ratio    150 non-null    float64
 7   petal_ratio    150 non-null    float64
 8   is_petal_long  150 non-null    int64
dtypes: float64(6), int64(2), object(1)
memory usage: 10.7+ KB

In [5]:
df.isnull().sum()

id               0
sepal_length     0
sepal_width      0
petal_length     0
petal_width      0
species          0
sepal_ratio      0
petal_ratio      0
is_petal_long    0
dtype: int64

In [6]:
df.describe()

,id,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,is_petal_long
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.057333,3.758000,1.199333,1.953681,4.310500,0.500000
std,43.445368,0.828066,0.435866,1.765298,0.762238,0.400480,2.489648,0.501675
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000,0.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,1.546188,2.802381,0.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000,0.500000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667,1.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000,1.000000

In [7]:
df.columns

Index(['id', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species', 'sepal_ratio', 'petal_ratio', 'is_petal_long'],
      dtype='object')